$brand-color:rgb(126, 126, 252);
*{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
#app{
    text-align: center;
}
.Header{
    width:100%;
    height:100%;
    padding-bottom:1vw;
    padding-top:1vw;
    background-color:rgb(0, 13, 68);
    border:outset;
    border-color:gold;
    color:$brand-color;
}
.pictures{
    margin-top:3vw;
}
.modalInfo{
    text-align: center;
    margin: 1vw;
}
.picInfo{
    color: white;
    border:groove;
    border-radius:0.2vw;
    border-radius:lightpink;
    height:30vh;
    width:15vw;
    position: absolute;
    top:10vw;
    // left:78vw;
    left:76.5vw;
    background-color:rgb(255, 164, 103);
    visibility: visible;
    text-align: left;
    padding:1vw;
}
button{
    margin: 6vw auto;
    // margin-left: 4.4vw;
    width:15vw;
    height: 5vh;
    // margin-top: 4vw;
    background-color: white;
    border-radius: 2vw;
}
button:hover{
    cursor: pointer;
    background-color: rgb(255, 88, 88);
    transition: 0.7s;
    color:white;
}
button:focus{
    outline: none;
}
.picHeading{
    color:lightyellow;
    border:outset;
    border-radius: 0.2vw;
    border-color:lightyellow;
    width: 25vw;
    border-radius: 2vw;
    margin:0 auto;
    margin-bottom:2vw;
    background-color:rgb(0, 130, 216);
}
.Modal{
    text-align: center;
    background-image: url('../../public/images/background1.jpg');
    background-size: cover;
    margin-top: 1vw;
    height: 43vw;
    width:90vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}
.modalImage{
    height:80vh;
    width:50vw;
    border:outset;
    border-radius: 0.2vw;
    border-color: burlywood;
}
.images{
    margin:1vw; 
    border:groove;
    border-radius: 0.2vw;
    border-color:lightpink;  
    height:45vh;
    width:25vw;
}
.images:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0.2vw 0.2vw 0.2vw 0.2vw rgb(116, 115, 115);
    transition: 0.5s;
}
.searchBar{
    width:50vw;
    height:7vh;
    border-radius: 2vw;
    padding-left: 1vw;
}
.searchBar:focus{
    outline: none;
}
.imgContainer{
    display: inline;
}
@media screen and (max-width:480px) {
    .Header{
        width:100%;
        height:100%;
        padding-bottom:0.3vw;
        padding-top:0.3vw;
        background-color:rgb(0, 13, 68);
        border:outset;
        border-color:gold;
        color:$brand-color;
    }
    .searchBar{
        width:80%;
        height:5vh;
        border-radius: 5vw;
        padding-left: 3vw;
        margin-bottom: 2vw;
    }
    .images{ 
        height:30vh;
        width:80vw;
        margin:3vw auto;

    }
    .imgContainer{
        width: auto;
        margin:5vw auto;
    }
    .picHeading{
        height: 5vh;
        width: 60vw;
        margin:4vw auto;
        font-size: 6vw;
    }
    button{
        width: 70%;
        height: 70%;
        margin-bottom: 3vw;
    }
    .modalImage{
        height: 40vh;
        width: 70vw;
        left:5vw;
    }
    .picInfo{
        position: relative;
        height: auto;
        width: 60vw;
        margin-top:1vw;
        padding:0.1vw;
        left:18vw;
        text-align: center;
    }
    .Modal{
        height: 100%;
        width: auto;
    }
}